# Project exclude paths
/.gradle/
/build/
/common/build/
/common/build/classes/java/main/
/v1_20_R1/.gradle/
/v1_20_R1/build/
/v1_20_R1/build/classes/java/main/
/v1_20_R4/.gradle/
/v1_20_R4/build/
/v1_20_R4/build/classes/java/main/
/v1_21_R1/.gradle/
/v1_21_R1/build/
/v1_21_R1/build/classes/java/main/
/v1_21_R3/.gradle/
/v1_21_R3/build/
/v1_21_R3/build/classes/java/main/
/v1_21_R4/.gradle/
/v1_21_R4/build/
/v1_21_R4/build/classes/java/main/
/v1_21_R5/.gradle/
/v1_21_R5/build/
/v1_21_R5/build/classes/java/main/
/v1_21_R6/.gradle/
/v1_21_R6/build/
/v1_21_R6/build/classes/java/main/
/v1_21_R7/.gradle/
/v1_21_R7/build/
/v1_21_R7/build/classes/java/main/
/v1_21_R8/.gradle/
/v1_21_R8/build/
/v1_21_R8/build/classes/java/main/